
.content{

 text-align: center;
}

.head{
   
    font-size: 40px;
    margin-top: 100px;
   
}
.para{
   
    font-weight: 400;
    margin-top: 30px;
    font-size: 15px;

    
}

.img{
  text-align: center;
  -webkit-transform: rotate(20deg);
   -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
     -o-transform: rotate(20deg);
        transform: rotate(20deg);
}

.marg{
    float: left;
    margin: 5px;
 
}
.margleft{
    margin-left: 150px;
    margin-top: 30px;
}

  
  
  