body{
  overflow-x: hidden;
}
.container {
    
background-image: url("../proj5/bg.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.content{
 color: white;
margin-top: -30px;

}

.head{
  text-align: center;
    color: white;
    font-size: 60px;
    margin-top: 140px;
    text-shadow: 5px 10px #15308d;
}
.para{
  text-align: center;
    color: white;
    font-weight: 500;
    margin-top: 30px;
    font-size: 18px;
}
.img{
  align-items: center;
    margin-top: 10px;
    width: 150px;
    margin-left: -300px;

}
.item{
  text-align: center;
  margin-top: -25px;
  
}

.items{
  padding-top: 50px;
 font-size: large;
 font-weight: 600;
 font-weight: bolder;
}

.rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  